* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    flex-grow: 1;
}

.navbar .menu {
    display: flex;
    gap: 20px;
}

.navbar .menu.left {
    flex-grow: 1;
    justify-content: flex-start;
}

.navbar .menu.right {
    flex-grow: 1;
    justify-content: flex-end;
}

.navbar .menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar .menu a:hover {
    color: #0ff;
}